# Build directories
build/
debug/
release/

# Binary files
*.bin
*.elf
*.hex
*.map

# Object files
*.o
*.obj
*.ko
*.lo

# Libraries
*.lib
*.a
*.la

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Editor files
.vscode/
.idea/
*.swp
*~